<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')  %>
</head>
<body>

    <%- include('../includes/header')  %>

    <section class="banner">
        <figure><img src="/images/banner-cc.png" alt="Banner de ofertas"></figure>   
    </section>
    <main>
        <section>
            <article class="header-form">
                <h3 class="g-title">Crear producto</h2>
            </article>
            <section>
                <form action="/products/create" method="POST" enctype="multipart/form-data" class="form-registro form-edit">
                    <fieldset>
                        <label for="name">Nombre del producto:</label>
                        <input type="text" name="name" id="name" required class="input-registro">
                    </fieldset>

                    <fieldset>
                        <label for="price">Precio:</label>
                        <input type="number" name="price" id="price" required class="input-registro">
                    </fieldset>

                    <fieldset>
                        <label for="description">Descripción:</label>
                        <textarea name="description" id="description" cols="30" rows="2" required class="input-registro"></textarea>
                    </fieldset>

                    <fieldset>
                        <label for="variety">Variedad:</label>
                        <input type="text" name="variety" id="variety" required class="input-registro">
                    </fieldset>

                    <fieldset>
                        <label for="smell">Aspecto olfativo:</label>
                        <input type="text" name="smell" id="smell" required class="input-registro">
                    </fieldset>

                    <fieldset>
                        <label for="origin">Origen:</label>
                        <input type="text" name="origin" id="origin" required class="input-registro">
                     </fieldset>

                     <fieldset>
                        <label for="detail">Reseña:</label>
                        <input type="text" name="detail" id="detail" required class="input-registro">
                     </fieldset>

                     <fieldset>
                        <label for="brand"><p><span>Marca:</label>
                            <select name="brand" id="brand" class="input-registro">
                                <% brand.forEach(brand => { %>
                                 <option value="<%= brand.id %>"><%= brand.name %></option>
                                <% }) %>
                            </select>
                     </fieldset>
                    
                   <fieldset>
                        <label for="weight">Peso:</label>
                        <select name="weight" id="weight" multiple class="input-registro">
                            <% weight.forEach(weight => { %>
                                <option value="<%= weight.id %>"><%= weight.name %></option>
                               <% }) %>
                        </select>
                   </fieldset>

                   <fieldset>
                        <label for="stock">Cantidad:</label>
                        <input type="number" name="stock" id="stock" required class="input-registro">
                    </fieldset>

                   <fieldset>
                    <label for="category">Categoría:</label>
                    <select name="category" id="category" class="input-registro">
                        <% category.forEach(category => { %>
                            <option value="<%= category.id %>"><%= category.name %></option>
                           <% }) %>
                    </select>
                    </fieldset>

                    <fieldset>
                        <label for="information">Información:</label>
                        <textarea name="information" id="information" cols="30" rows="5" required class="input-registro"></textarea>
                    </fieldset>

                    <fieldset>
                        <label for="packaging">Packaging:</label>
                        <textarea name="packaging" id="packaging" cols="30" rows="5" required class="input-registro"></textarea>
                    </fieldset>
    
                    <fieldset>
                        <label for="image">Imagen:</label>
                        <input type="file" name="image" id="image" required class="input-registro">
                    </fieldset>
    
                    <button type="submit" class="form-button">Crear</button>
                </form>
            </section>
            
        </section>
    </main>

    <%- include('../includes/footer')  %>
</body>
</html>