<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')  %>
    <script src="/js/detail.js"></script>
</head>
<body>

    <%- include('../includes/header')  %>

    <main>
        <section class="product-description">
            <article>
                <section class="img-detail">
                    <img src="/products/<%= product.imageId.url %>" alt="Cafe de colombia">
                </section>
            </article>
            <article>
                <section class="detail">
                    <h3 class="name-detail"><%= product.name %></h3>
                    <p class="price price-detail">$ <%= product.price %> </p>
                    <h4><%= product.description %></h4>
                    <p><span>Variedad:</span> <%= product.variety %> </p>
                    <p><span>Aspeco olfativo:</span>  <%= product.smell %> </p>
                    <p><span><%= product.origin %> </span></p>
                    <p class="highlight"><%= product.detail %></p>
                    <p class="highlight"> Envíos a todo el país.</p>
                    <p class="highlight price">GRATIS EN COMPRAS MAYORES A $3.500.</p>
                    <form action="/" class="form-description">
                        <fieldset class="weight-form">
                            <label>Elegí el peso</label>
                            <select name="peso" id="peso">
                                <option value="0">Elige una opción</option>
                                <% product.weights.forEach(element => { %>
                                    <option value="<%= element.id %>"><%= element.name %> </option>
                                <% }) %>  
                            </select>
                        </fieldset>
                        <fieldset class="quantity-form">
                            <label>Cantidad</label>
                            <section class="quantity">
                                <button type="button" id="minus"><i class="fas fa-minus"></i></button>
                                <input type="number" value="1" min="1" max="<%= product.stock %>" id="quantity-input">
                                <button type="button" id="plus"><i class="fas fa-plus"></i></button>
                            </section>
                        </fieldset>
                        <button type="submit" class="buy-button buy-button-d">Añadir al carrito</button>
                    </form>
                    <% if (locals.isLogged && locals.userLogged.isAdmin == '1') { %>
                        <section class="edit-delete">
                            <nav>
                                <a href="/products/<%= product.id %>/edit" class="buy-button">Editar</a>
                            </nav>
                            <form action="/products/<%= product.id %>?m=DELETE" method="POST">
                                <input type="hidden" name="id" value="<%= product.id %>">
                                <button type="submit" class="buy-button">Eliminar</button>
                            </form>
                        </section>
                    <% } %>   
                </section>
            </article>
        </section>
        <section class="product-info">
            <article class="descripcion-producto">
                <h3 class="description-title">Descripción</h3>
                <h4 class="subtitle">Información detallada - <%= product.name %> </h4>
                <p class="p-description"><%= product.information %> </p>
                <h4 class="subtitle">Packaging</h4>
                <p class="p-description"><%= product.packaging %> </p>
            </article>
        </section>
    </main>
    
    <%- include('../includes/footer')  %>
</body>
</html>
