<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')  %>
</head>
<body>

    <%- include('../includes/header')  %>

    <section class="banner">
        <figure><img src="/images/banner-cc.png" alt="Banner de ofertas"></figure>   
    </section>
    <main>
        <section class="product-description">
            <article>
                <section>
                    <img src="/products/<%= producto.imagen %>" alt="Cafe de colombia">
                </section>
            </article>
            <article>
                <section>
                    <h3><%= producto.nombre %> </h3>
                    <p class="price">$ <%= producto.precio %> </p>
                    <h4><%= producto.descripcion %> </h4>
                    <p>Variedad: <%= producto.variedad %> </p>
                    <p>Aspeco olfativo: <%= producto.olfato %> </p>
                    <p>Altitud: 2.000 mts.</p>
                    <p>Finca La Estrella del Ostro, región de Huila, Colombia. Tostado en Bariloche.</p>
                    <p> Envíos a todo el país.</p>
                    <p>GRATIS EN COMPRAS MAYORES A $3.500.</p>
                    <form action="/" class="form-description">
                        <fieldset class="weight-form">
                            <label>Elegí el peso</label>
                            <select name="peso" id="peso">
                                <option value="0">Elige una opción</option>
                                <option value="1">1Kg</option>
                                <option value="0.25">250g</option>
                            </select>
                        </fieldset>
                        <fieldset class="quantity-form">
                            <label>Cantidad</label>
                            <section class="quantity">
                                <button type="button"><i class="fas fa-minus"></i></button>
                                <input type="number">
                                <button type="button"><i class="fas fa-plus"></i></button>
                            </section>
                        </fieldset>
                        <button type="submit" class="buy-button">Añadir al carrito</button>
                    </form>
                    <a href="/products/<%= producto.id %>/edit" class="buy-button">Editar</a>
                    <form action="/products/:id?m=DELETE" method="POST">
                        <input type="hidden" name="id" value="<%= producto.id %>">
                        <button type="submit" class="buy-button">Eliminar</button>
                    </form>
                </section>
            </article>
        </section>
        <section>
            <article class="descripcion-producto">
                <h3 class="description-title">Descripción</h3>
                <h4 class="subtitle">Información detallada - <%= producto.nombre %> </h4>
                <p class="p-description"><%= producto.informacion %> </p>
                <h4 class="subtitle">Packaging</h4>
                <p class="p-description"><%= producto.packaging %> </p>
            </article>
        </section>
    </main>
    
    <%- include('../includes/footer')  %>
</body>
</html>