<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')  %> 
</head>
<body>

    <%- include('../includes/header')  %>
    <main>
        <section class="featured marcas">
            <header><h3>Productos</h3></header>
            <section class="products">
                <% productos.forEach(p => { %>
                    <article>
                        <section class="product">
                            <figure><img src="/products/<%= p.imagen %> " alt="Café de colombia" class="respeta"></figure>
                            <h4 class="description"><%= p.nombre %> </h4>
                            <p class="price">$<%=p.precio %> </p>
                            <a href="/products/<%= p.id %> " class="buy-button">Comprar</a>
                        </section>
                    </article>
                <% }) %>
            </section>
        </section>
    </main>

    <%- include('../includes/footer')  %>
</body>
</html>