<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head')  %> 
</head>
<body>

    <%- include('./includes/header')  %>

    <main>
        <section class="featured">
            <header><h3>Productos filtrados</h3></header>
            <section class="products">
                <% products.forEach(p => { %>
                   
                        <article>
                            <section class="product">
                                <figure><img src="/products/<%= p.imageId.url %>" alt="Café de colombia" class="respeta"></figure>
                                <h4 class="description"><%= p.name %></h4>
                                <p class="price">$<%=p.price %> </p>
                                <a href="/products/<%= p.id %> " class="buy-button">Comprar</a>
                            </section>
                        </article>
                 
                <% }) %>
            </section>
        </section>
    </main>

    <%- include('./includes/footer')  %>
</body>
</html>