<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')  %>
</head>
<body>

    <%- include('../includes/header')  %>

    <main>
        <section>
            <header class="header-form background-form">
                <h3 class="g-title">Acceder</h3>
                <p class="detail">¡Hola! Ingresá tu e-mail o usuario y contraseña</p>
                <p class="detail">¿No tienes una cuenta? <a href="/user/register">¡Registrate!</a></p>
            </header>
            <form action="/user/login" method="POST" class="form-login">
                <fieldset>
                    <label for="email">Correo electrónico:</label>
                    <input type="text" name="email" id="email" class="input-registro">
                    <% if (locals.errors && errors.email) { %>
                        <div class="danger">
                            <%= errors.email.msg %> 
                        </div>
                    <% } %>
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" id="password" class="input-registro">
                    <% if (locals.errors && errors.pass) { %>
                        <div class="danger">
                            <%= errors.pass.msg %> 
                        </div>
                    <% } %>
                </fieldset>
                <fieldset class="remember-pass">
                    <input type="checkbox" name="remember_user" id="remember_user" value="recuerdame">
                    <label for="recuerdame">Recordar contraseña</label>
                </fieldset>
                <button type="submit" class="form-button">Ingresar</button>
            </form>
            <footer class="reset-pass"><a class="reset-pass" href="/">¿Olvidaste tu contraseña?</a></footer>
        </section>
    </main>

    <%- include('../includes/footer')  %>
</body>
</html>