<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')  %>
</head>
<body>

    <%- include('../includes/header')  %>

    <main>
        <section class="featured"><h3>Mi cuenta</h3></section>
        <section class="profile">
            <section class="imgPerfil">
                <figure><img src="/avatars/<%= user.image.url %>" alt=""></figure>
            </section>
            <section class="datos">
                <p><span>Nombre: </span><%= user.name %></p>
                <p><span>Apellido: </span><%= user.lastName %></p>
                <p><span>Correo eléctronico: </span><%= user.email %></p>
                <p><span>Dirección: </span><%= user.address %></p>
                <nav>
                    <a href="/user/<%= user.id %>/edit" class="buy-button">Editar perfil</a>
                    <a href="/user/<%= user.id %>/delete" class="buy-button">Eliminar cuenta</a>
                </nav>
            </section>
        </section>
    </main>

    <%- include('../includes/footer')  %>
</body>
</html>