<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')  %>
    <script src="/js/registerValidation.js"></script>
</head>
<body>

    <%- include('../includes/header')  %>

    <main>
        <section>
            <article class="header-form background-form">
                <h3 class="g-title">¡Crea tu cuenta!</h3>
                <p class="detail">¡Ingresa tus datos para poder crear un usuario y disfrutar realizando tu compra con nosotros!</p>
                <p class="detail">¿Ya tiene una cuenta? <a href="/user/login">¡Inicie sesión!</a></p>
            </article>
            <section>
                <form action="/user/register" method="POST" enctype="multipart/form-data" class="form-registro" id="userRegister">
                    <fieldset>
                        <label for="name">Nombre:</label>
                        <input type="text" name="name" id="name" placeholder="Ej: Juana" class="input-registro <%= locals.errors && errors.name ? 'is-invalid' : null%>"
                        value="<%= locals.oldData ? oldData.name : null%>" 
                        >
                        <span class="material-symbols-outlined danger" id="iconName">
                            cancel
                        </span>
                        <span id="errorName" class="danger"></span>
                        
                    </fieldset>
                    <% if (locals.errors && errors.name) { %>
                        <span class="danger">
                            <span class="material-symbols-outlined">
                                cancel
                            </span>  <%= errors.name.msg %>
                        </span>
                    <% } %>
                   
                    <fieldset>
                        <label for="lastName">Apellido:</label>
                        <input type="text" name="lastName" id="lastName" placeholder="Ej: Perez"  class="input-registro <%= locals.errors && errors.lastName ? 'is-invalid' : null%>"
                        value="<%= locals.oldData ? oldData.lastName : null%>" 
                        >
                        <span class="material-symbols-outlined danger" id="iconLastName">
                            cancel
                        </span>
                        <span id="errorLastName" class="danger"></span>
                    </fieldset>
                    <% if (locals.errors && errors.lastName) { %>
                        <span class="danger">
                            <span class="material-symbols-outlined">
                                cancel
                            </span> <%= errors.lastName.msg %>
                        </span>
                    <% } %>

                    <fieldset>
                        <label for="email">Correo electrónico:</label>
                        <input type="text" name="email" id="email" placeholder="Ej: juana@example.com"  class="input-registro <%= locals.errors && errors.email ? 'is-invalid' : null%>"
                        value="<%= locals.oldData ? oldData.email : null%>" >
                        <span class="material-symbols-outlined danger" id="iconEmail">
                            cancel
                        </span>
                        <span id="errorEmail" class="danger"></span>
                    </fieldset>
                    <% if (locals.errors && errors.email) { %>
                        <span class="danger">
                            <span class="material-symbols-outlined">
                                cancel
                            </span> <%= errors.email.msg %>
                        </span>
                    <% } %>

                   <fieldset>
                        <label for="address">Domicilio (Calle y Altura):</label>
                        <input type="text" name="address" id="address" placeholder="Ej: Av. 9 de Julio 1455"  class="input-registro <%= locals.errors && errors.address ? 'is-invalid' : null%>"
                        value="<%= locals.oldData ? oldData.address : null%>" >
                        <span class="material-symbols-outlined danger" id="iconAddress">
                            cancel
                        </span>
                        <span id="errorAddress" class="danger"></span>
                   </fieldset>

                   <% if (locals.errors && errors.address) { %>
                    <span class="danger">
                        <span class="material-symbols-outlined">
                            cancel
                        </span> <%= errors.address.msg %>
                    </span>
                    <% } %>
                  
                   
                    <fieldset>
                        <label for="password">Contraseña:</label>
                        <input type="password" name="password" id="password"  class="input-registro <%= locals.errors && errors.password ? 'is-invalid' : null%>">
                        <span class="material-symbols-outlined danger" id="iconPassword">
                            cancel
                        </span>
                        <span id="errorPassword" class="danger"></span>
                        <p id="minuscula"><i id="minusculaI" class="material-symbols-outlined">cancel</i> 1 letra minúscula</p>
                        <p id="mayuscula"><i id="mayusculaI" class="material-symbols-outlined">cancel</i> 1 letra mayúscula</p>
                        <p id="simbolo"><i id="simboloI" class="material-symbols-outlined">cancel</i> 1 carácter especial</p>
                        <p id="numero"><i id="numeroI" class="material-symbols-outlined">cancel</i> 1 número</p>
                        <p id="longitud"><i id="longitudI" class="material-symbols-outlined">cancel</i> La contraseña debe tener al menos 8 caracteres</p>
                    </fieldset>

                    <% if (locals.errors && errors.password) { %>
                        <span class="danger">
                            <span class="material-symbols-outlined">
                                cancel
                            </span> <%= errors.password.msg %>
                        </span>
                    <% } %>
    
                    <fieldset>
                        <label for="confirmPassword">Confirmar contraseña:</label>
                        <input type="password" name="confirmPassword" id="confirmPassword"  class="input-registro <%= locals.errors && errors.confirmPassword ? 'is-invalid' : null%>">
                        <span class="material-symbols-outlined danger" id="iconConfirmPassword">
                            cancel
                        </span>
                        <span id="errorConfirmPassword" class="danger"></span>
                    </fieldset>

                    <fieldset>
                        <label for="avatar">Imagen de perfil:</label>
                        <input type="file" name="avatar" id="avatar" class="<%= locals.errors && errors.avatar ? 'is-invalid' : null%>">
                        <img src="" alt="" id="preview">
                        <span class="material-symbols-outlined danger" id="iconAvatar">
                            cancel
                        </span>
                        <span id="errorAvatar" class="danger"></span>
                    </fieldset>

                    <% if (locals.errors && errors.avatar) { %>
                        <span class="danger">
                            <span class="material-symbols-outlined">
                                cancel
                            </span> <%= errors.avatar.msg %>
                        </span>
                    <% } %>
    
    
                    <button type="submit" class="form-button">Enviar</button>
                </form>
            </section>
            
        </section>
    </main>
    <%- include('../includes/footer')  %>
</body>
</html>